    <h2 class= "list_title"><%= @list.title %></h2>
   <ul class= "lists_list"><% @list.forums.each do |forum| %>
      <% bookmark = Bookmark.find_by(list: @list, forum: forum ) %>
        <li class= "list_item_list"><p><%= link_to forum.title, forum_path(forum) %>
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{forum.title} from your #{@list.title} list"} %></li>
    <% end %></ul>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.association :forum %>
<%= f.submit "Add a new an item"%>
<% end %>


<p><%= button_to "BACK", lists_path, {class:"button"} %></p>

<%= button_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?"} %>
