<%= link_to "Create a Forum but only for admins", new_forum_path %>

<%= form_with url: forums_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for title or category!"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="index-grid">

<% @forums.each do |forum| %>
<%= cl_image_tag forum.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

</div>
