<%= link_to "Create a Forum but only for admins", new_forum_path %>


<div class="input-container">
<%= form_with url: forums_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "input",
    placeholder: "Search for title or category!"
  %>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
  <i class="fa-solid fa-magnifying-glass"></i>
<% end %>
<% end %>
</div>

<div class="index-grid">


<% @forums.each do |forum| %>
<%= link_to forum_path(forum) do %>
<%= cl_image_tag forum.photo.key, height: 300, width: 200 %>
<% end %>
<% end %>

</div>
