<%= link_to "Create a Forum but only for admins", new_forum_path %>


<div class="input-container">
<%= form_with url: forums_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "input",
    placeholder: "Search for title or category!"
  %>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
  <i class="fa-solid fa-magnifying-glass"></i>
<% end %>
<% end %>
</div>



<div class="div-index-search-results">



<% if @forums.any? {| forum | forum.category == "Movies"} %>
<h2 class="search-index-title">Movies</h2>
<% end %>
<div class="search-index-flex">
<% movies_array = @forums.select {| forum | forum.category == "Movies"} %>
<% movies_array.sample(5).each do |forum| %>
<div class="img-index-div">
<%= link_to forum_path(forum) do %>
<%= cl_image_tag forum.photo.key, height: 280, width: 200 %>
<% end %>
</div>
<% end %>
</div>

<% if @forums.any? {| forum | forum.category == "TV Shows"} %>
<h2 class="search-index-title">TV Shows</h2>
<% end %>
<div class="search-index-flex">
<% tv_shows_array = @forums.select {| forum | forum.category == "TV Shows"} %>
<% tv_shows_array.sample(5).each do |forum| %>
<div class="img-index-div">
<%= link_to forum_path(forum) do %>
<%= cl_image_tag forum.photo.key, height: 280, width: 200 %>
<% end %>
</div>
<% end %>
</div>

<% if @forums.any? {| forum | forum.category == "Music"} %>
<h2 class="search-index-title">Music</h2>
<% end %>
<div class="search-index-flex">
<% music_array = @forums.select {| forum | forum.category == "Music"} %>
<% music_array.sample(5).each do |forum| %>
<div class="img-index-div">
<%= link_to forum_path(forum) do %>
<%= cl_image_tag forum.photo.key, height: 200, width: 200 %>
<% end %>
</div>
<% end %>
</div>

</div>
