<p><%= @forum.title %></p>
<p> <%= @forum.description %> </p>
<p><%= @forum.date %> </p>
<p> <%= @forum.category %></p>
<p> <%= link_to "Edit", edit_forum_path(@forum) %></p>
<p><%= link_to "Back to index", forums_path %></p>


    <%#= link_to 'Delete forum only for admin', forum_path(@forum),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

<%= simple_form_for [@forum, @post] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>



<p> <% @posts.each do |post| %> </p>
<p> <%= link_to post.content, forum_post_path(@forum, post) %> </p>
<p> <% end %> </p>
