<%# Average Score Method %>

<% ratings_array = [] %>
<% @ratings.each do |rating| %>
<% ratings_array << rating.score %>
<% end %>
<% rating_sum = ratings_array.sum  %>
<% number_of_ratings = @ratings.length %>
<% if number_of_ratings >= 1 %>
<% average_score = rating_sum / number_of_ratings %>
<% rounded_average_score = average_score.round(2) %>
<% else %>
<% end %>





<div class="forum-flex-top-show">

<div class="forum-show-img">
<% if @forum.category == "Music" %>
<%= cl_image_tag @forum.photo.key, height: 200, width: 200 %>
<% elsif @forum.category == "TV Show" %>
<%= cl_image_tag @forum.photo.key, height: 400, width: 300 %>
<% else %>
<%= cl_image_tag @forum.photo.key, height: 400, width: 300 %>
<% end %>
</div>

<div class="div-middle-forum-top">
<p class="forum-show-title"><%= @forum.title %></p>
<div class="forum-show-rating-description-container">
<div class="rating-circle">
<% if rounded_average_score.nil? %>
 <div class="c100 p100 medium">
          <span><%= 0 %></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
  </div>
<% elsif rounded_average_score <= 4 %>
  <div class="c100 p100 medium red">
          <span><%= rounded_average_score %></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
  </div>
  <% elsif rounded_average_score > 4 && rounded_average_score < 7 %>
    <div class="c100 p100 medium orange">
          <span><%= rounded_average_score %></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
  </div>
  <% elsif rounded_average_score  >= 7 %>
      <div class="c100 p100 medium green">
          <span><%= rounded_average_score %></span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
  </div>
  <% else %>
  <% end %>

</div>
<div class="forum-show-description">
<p class="forum-show-year"><%= @forum.year %></p>
<p class="forum-show-category"><%= @forum.category %></p>
<p class="forum-show-creator"><%= @forum.creator %></p>
</div>
</div>
</div>
</div>






<%= simple_form_for [@forum, @rating] do |f| %>
  <%= f.input :score, collection: 1..10 %>
  <%= f.submit "Rate", class: "btn btn-primary" %>
<% end %>







    <%#= link_to 'Delete forum only for admin', forum_path(@forum),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<%= simple_form_for [@forum, @post] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


<% @posts.each do |post| %>
  <%= link_to forum_post_path(@forum, post) do %>
  <div class="post-card">
    <p><%= post.content %></p>
  </div>
  <% end %>

  <% post.id %>
  <% top_comments = Comment.where(post: post.id).last(5) %>
  <% top_comments.each do |comment| %>
    <p><%= comment.comment_content %></p>
  <% end %>

  <%= simple_form_for [@forum, post, @comment] do |f| %>
  <%= f.input :comment_content %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>


<% end %>
