<p><%= @forum.title %></p>
<p> <%= @forum.description %> </p>
<p><%= @forum.date %> </p>
<p> <%= @forum.category %></p>
<p> <%= link_to "Edit", edit_forum_path(@forum) %></p>
<p><%= link_to "Back to index", forums_path %></p>


<%= simple_form_for [@forum, @rating] do |f| %>
  <%= f.input :score %>
  <%= f.submit "Rate", class: "btn btn-primary" %>
<% end %>

<% @ratings.each do |rating| %>
<%= rating.score %>
<% end %>


    <%#= link_to 'Delete forum only for admin', forum_path(@forum),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

<%= simple_form_for [@forum, @post] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<% @posts.each do |post| %>
<%= link_to forum_post_path(@forum, post) do %>
<div class="post-card">
  <p> <%= post.content %> </p>
</div>
<% end %>
<% end %>
