<h1>User Dashboard</h1>

<p><strong><%= @user.username %></strong></p>

<div class="user-container-flex-div">
  <div class="user-card">
      <%= link_to user_path(@user)do %>
      <%= cl_image_tag (@user.photo.key).to_s, height: 250, width:  250, crop: :fill, :radius => "max", :gravity => "face" %>
      <% end %>
      <div class="user-card-details-text">
         <p>@<%= @user.username %></p>
      </div>
  </div>
</div>



<% if Follow.where(follower_id: current_user.id, following_id: params[:id]).exists? %>
<% @follow = Follow.find_by(follower_id: current_user.id, following_id: params[:id]) %>
 <%= link_to 'Unfollow', user_follow_path(@user, @follow.id),
  data: {turbo_method: :delete}, class:"unfollow-button"  %>
<% else %>
<%= simple_form_for [@user, @follow] do |f| %>
  <%= f.submit "Follow" %>
<% end %>
<% end %>



<p>Followers <%= @followers.count %> </p>
<p>Following <%= @following.count %> </p>




<h2>My lists</h2>
<% @lists.each do |list|%>
<p><%= button_to list.title, list_path(list), {class:"button"}%></p>
<% end %>

<h2>Create a list</h2>
<%= simple_form_for @list do |f| %>
<%= f.input :title, placeholder: 'List Title' %>
<%= f.submit "Create a list" %>
<% end %>
