<div class="follow-index-user-div">

  <div class="user-card-container">
    <div class="user-card">
      <%= link_to user_path(@user)do %>
      <%= cl_image_tag (@user.photo.key).to_s, height: 250, width:  250, :background=>"#080F15", :radius => "max" %>
      <% end %>
    </div>

      <div class="user-card-details-text">
         <p><strong>@<%= @user.username %></strong></p>
      </div>

      <div class="follows-container">
        <div class="followers">
          <p>Followers</p>
          <p class="lists-count" ><%= @user.followers.count %></p>
        </div>
        <div class="followers">
          <p>Following</p>
          <p class="lists-count"><%= @user.following.count %></p>
        </div>
      </div>
          <div class="number-of-lists-container">
              <%= link_to user_path(current_user.id) do %>
            <div class="number-of-lists">
              <p>Lists</p>
              <p class="lists-count"><%= @lists.count %></p>
            </div>
            <% end %>
          </div>
              <div class="edit-profile-button">
                 <%= link_to "Edit Profile", edit_user_registration_path, {class:"button-profile-edit"} %>
              </div>

  </div>

    <div class="followers-container">p
      <h3>Followers</h3>
      <% @user.followers.each do |follower| %>
      <%= link_to follower do %>
      <div class="follow-user-profile-index-div">
        <div class="follow-img-profile">
        <div class="follower-profile-img">
         <%= cl_image_tag follower.photo.key.to_s, width: 50, height: 50, :background=>"#080F15", :radius => "max", :gravity => "face" %>
        </div>
        </div>
        <div class="follow-username-index">
        <p class= "following-link">@<%= follower.username%></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="following-container">
      <h3>Following</h3>
      <% @user.following.each do |following| %>
      <%= link_to following do %>
      <div class="follow-user-profile-index-div">
      <div class="follower-profile-img">
         <%= cl_image_tag following.photo.key.to_s, width: 50, height: 50,:radius => "max", :background=>"#080F15", :gravity => "face"%>
      </div>
          <p class= "following-link">@<%= following.username %></p>
      </div>
      <% end %>
      <% end %>
    </div>


</div>
