<div class="post-comments-section">
  <div class="post-with-comments-inside-post">
    <div class="post-content-box">
      <div class="post-content-box-left">
        <div class="profile-picture">
          <%= link_to user_path(User.find(@post.user_id))do %>
            <%= cl_image_tag (User.find(@post.user_id).photo.key).to_s, :radius => "max", :gravity => "face" %>
          <% end %>
        </div>
      </div>

      <div class="content-box-main">
        <div class="post-user">
          <p>@<%= User.find(@post.user_id).username %></p>
        </div>
        <div class="post-content-text">
          <p><%= @post.content %></p>
        </div>
      </div>
    </div>


    <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

      <div class="all-comments" data-insert-in-list-target="items">
        <% @post.comments.each do |item| %>
          <%= render :partial => "comments/comment_list", locals: { comment: item }  %>
        <% end %>
      </div>
      <%= render :partial => "comments/comment_form", :locals => { :forum => @forum, :post => @post, :comment => @comment } %>
    </div>
  </div>
</div> <!--post-comments-section-->
